<!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
<p-table [value]="clubs" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
    <div class="header">
      <div class="flex-container">
        <h1>Listado de Clubes</h1>
      </div>
    </div>    
    <div class="grid" >
    <div class="col-12 md:col-6 lg:col-6 xl:col-6 align-items-center justify-content-center text-center">
    <input
      pInputText
      type="text"
      placeholder="Buscar por nombre:"
      [(ngModel)]="nameFilter"
      (input)="getClubs()"
      class="ng-dirty text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none surface-border outline-none h-3rem focus:border-primary w-6"
    />
  </div>
  <div class="col-12 md:col-6 lg:6 xl:6 flex justify-content-between align-items-center">
      <p-dropdown
      [(ngModel)]="selectedTournamentId"
      [showClear]="true"
      placeholder="Seleccione el campeonato"
      inputId="dropdown"
      optionLabel="Campeonato"
      appendTo="body"
      styleClass="w-full"
      (onChange)="getClubs()"
      [options]="tournaments"
      optionLabel="name"
      emptyFilterMessage="No se encuentran resultados"
      emptyMessage="No se encuentran resultados"
      (onClear)="clearInputs()"
    >
    </p-dropdown> 
    <a [routerLink]="['/club/create']">
      <p-button icon="pi pi-plus" title="Crear Club"></p-button>
    </a>
  </div>
</div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>CUIT</th>
          <th>Estadio</th>
          <th>Campeonato</th>
          <th>Activo / Inactivo</th>
          <th>Acciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-club>
      <tr>
          <td><img [src]="club.image" alt="Logo Club" width="60" class="shadow-4"></td>
          <td>{{club.name}}</td>
          <td>{{club.address}}</td>
          <td>{{club.cuit}}</td>
          <td>{{club.stadiumName}}</td>
          <td>{{club.tournament}}</td>
          <td><span [ngClass]="{'active': club.active, 'inactive': !club.active}">
            {{club.active ? 'Activo' : 'Inactivo'}}
          </span></td>
          <td>
            <p-button icon="pi pi-pencil" label="Editar" (onClick)="saveIdClub(club.idClub)" routerLink="/club/update"></p-button>
            <span class="button-space"></span>
            <p-button icon="pi pi-times-circle" label="Dar de baja" (onClick)="disable(club.idClub)" ></p-button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div>
        <p-paginator
          [rows]="itemsPerPage"
          [totalRecords]="totalQuantity"
          [first]="(actualPage - 1) * itemsPerPage"
          (onPageChange)="changePage($event)"
          [rowsPerPageOptions]="[5, 10, 15, 30, 50]"
        ></p-paginator>
      </div>
  </ng-template>
</p-table>

